$main-color: #000F89;
$background-color: ghostwhite;
$input-color: lightgray;
$highlight-color: yellow;

$navbar-text-color: lightgray;
$navbar-background-color: #000F89;
$navbar-highlight-color: yellow;

