@import "common.scss";


body {
  font-family:  Helvetica, sans-serif;
  font-size: 19px;
  background-color: $background-color;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $background-color;
    color: $main-color;
    text-align: center;
 }

