<div id="<%= dom_id usb %>">
  <p>
    <strong>Label:</strong>
    <%= usb.label %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= usb.address %>
  </p>

  <p>
    <strong>Serialnumber:</strong>
    <%= usb.serialnumber %>
  </p>

</div>
