<%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>

<nav class="navbar">
<span class="toggle-nav" id="toggle-nav">
    <i class="material-icons">menu</i>
</span>
<!-- <div class=""> -->
<a href="#" class="logo"><img src="logo.jpg" alt="">
  <p>DCC : <%= @page_title %> </p>
</a>
<!-- </div> -->
<ul class="main-nav" id="main-nav">
    <li><a href="#" class="nav-links">Home</a></li>
    <li><a href="#" class="nav-links">News</a></li>
    <li><a href="#" class="nav-links">Conatct</a></li>
    <li><a href="#" class="nav-links">About</a></li>
</ul>
</nav>
<script>
let mainNav = document.getElementById('main-nav');
let toggleNav = document.getElementById('toggle-nav');
toggleNav.addEventListener('click', function () {
    mainNav.classList.toggle('active')
});
</script>
