
  <table class="table" >
      <thead>
            <tr>
              <th>Manufacturer</th>
              <th>Product</th>
              <th>Status</th>
            </tr>
      </thead>
      <tbody>
  <% @arduinos.each do |arduino| %>
    <tr>
      <td><%= arduino.manufacturer %></td>
      <td><%= arduino.product%> </td>
      <td><a href="#" class="btn btn-success">OK</a></td>
    </tr>
  <% end %>
      </tbody>
  </table>



